<script>
import {mapGetters} from "vuex";
import ScaleLine from "../../scaleLine/components/ScaleLine.vue";
import Language from "../../language/components/Language.vue";
import MousePosition from "../../controls/mousePosition/components/MousePosition.vue";

/* TODO implement missing feature toolModelId */

export default {
    name: "Footer",
    components: {
        Language,
        ScaleLine,
        MousePosition
    },
    computed: {
        ...mapGetters(["footerConfig", "mobile", "masterPortalVersionNumber"]),
        showFooter () {
            return Boolean(this.footerConfig);
        },
        urls () {
            return this.footerConfig?.urls;
        },
        showVersion () {
            return this.footerConfig?.showVersion;
        },
        showLanguageSwitcher () {
            return this.$i18n.i18next.options.isEnabled() && Object.keys(this.$i18n.i18next.options.getLanguages()).length > 1;
        }
    }
};
</script>

<template>
    <div
        id="footer"
        :class="!showFooter && 'hide-footer'"
    >
        <MousePosition class="footer-mouse-position" />
        <!-- keep div#footer as anchor for mouse position even if no footer is to be rendered -->
        <template v-if="showFooter">
            <template v-for="(url, index) in urls">
                <span
                    :key="`footer-url-${index}`"
                >
                    {{ $t(url.bezeichnung) }}
                    <a
                        :href="url.url"
                        target="_blank"
                    >
                        {{ $t(mobile ? url.alias_mobil : url.alias) }}
                    </a>
                    <span class="glyphicon glyphicon-option-vertical hidden-xs" />
                </span>
            </template>
            <template v-if="showVersion">
                <span class="hidden-xs">
                    Version: {{ masterPortalVersionNumber }}
                    <span class="glyphicon glyphicon-option-vertical hidden-xs" />
                </span>
            </template>
            <span class="spacer" />
            <ScaleLine />
            <Language v-if="showLanguageSwitcher" />
        </template>
    </div>
</template>

<style lang="less" scoped>
    @import "~variables";

    #footer {
        width: 100%;

        background: fade(@secondary, 70%);

        font-family: @font_family_narrow;
        color: @secondary_contrast;
        font-size: @font_size_tiny;

        box-shadow: 0px -6px 12px @shadow;
        padding: 4px 10px;

        z-index: 0; /* TODO get rid of this - why is it even necessary? */

        display: flex;
        position: relative;

        &.hide-footer {
            padding: 0;
        }

        .spacer {
            flex-grow: 1;
        }

        .glyphicon-option-vertical {
            padding: 0 8px;
            font-size: 12px;
        }

        .footer-mouse-position {
            position: absolute;
            left: 0;
            bottom: 100%;
            /* should share bottom-line last control element */
            margin-bottom: 15px;
        }
    }
</style>
