<!DOCTYPE html>
<div id="layerslider">
	<h5><%= title %></h5>
	<%if(sliderType === "player") {%>
	<div class="player">
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="<%= layerIds.length %>">
				<span class="sr-only">Anzeige diverser Layer.</span>
			</div>
		</div>
		<div class="input-group">
			<span class="input-group-btn">
				<button id="play" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
				</button>
				<button id="stop" type="button" class="btn btn-default">
					<span class="glyphicon <% windowsInterval !== null ? print ('glyphicon-pause') : print ('glyphicon-stop') %>" aria-hidden="true"></span>
				</button>
				<button id="backward" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
				<button id="forward" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			</span>
			<input id="title" type="text" class="form-control" placeholder="Titel nicht konfiguriert" readonly="true"/>
		</div>
	</div>

	<%}%>
	<%if(sliderType === "handle") {%>
		<div class="handle">
			<div class="slider-layer-titles"></div>
			<input type="range" class="slider" id="slider" data-slider-min="<%=dataSliderMin%>", data-slider-max="<%=dataSliderMax%>", data-slider-step="1", data-slider-value="0" data-slider-ticks = "<%=dataSliderTicks%>" data-slider-tooltip="hide"/>
		</div>
	<%}%>
</div>
